@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
}

input:not(.login-input), 
select:not(.login-input), 
textarea:not(.login-input) {
  color: #111827 !important;
  background-color: #ffffff !important;
}

.login-input {
  color: white !important;
  background-color: transparent !important;
}